
#root {
  height: 100vh;
  touch-action: none;
  background-color: whitesmoke;
  padding: env(safe-area-inset-top);
}
.loading{
color:rgb(65,65,65)
}

@media (prefers-color-scheme:dark){
  #root{
    background-color: rgb(65, 65, 65);
  }
  .loading{
    color:whitesmoke
  }
}